.auth{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }
    .auth-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            background-color: $color-4;
            padding: 2rem ;
            border-radius: 0.5rem;
            h2{
                color: white;
                margin-bottom: 1rem;
            }
            input{
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid #5A698F;
                padding: 0.5rem;
                color: white;
                font-size: 1rem;
                &:focus{
                    border-color: white;
                }
                &.avatar-input{
                    display: none;
                }
                &.err-input{
                    border-color: $color-2;
                }
            }
            .submit-container{
                position: relative;
                width: 100%;
                min-height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            button{
                width: 100%;
                border-radius: 0.5rem;
                background-color: $color-2;
                color: white;
                cursor: pointer;
                border: none;
                padding: 1rem 0;
                font-size: 1rem;
                font-weight: 600;
                &:hover{
                    background-color: white;
                    color: $color-2;
                }
            }
            p{
                color: white;
                font-weight: 600;
                a{
                    color: $color-2;
                    margin-left: 0.35rem;
                }
            }
            .avatar{
                label{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: gray;
                    cursor: pointer;
                    .avatar-img{
                        width: 50px;
                        height: 50px;
                    }
                    .uploading{
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: auto;
                        .check{
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &:hover{
                        color: $color-2;
                    }

                }
            }
        }
    }
}

@include mobile{
    .auth{
        main{
            .auth-container{
                padding: 2rem 0;
                form{
                    border-radius: 0;
                    padding: 2rem 1rem;
                    border-top: 1px solid $color-2;
                    border-bottom: 1px solid $color-2;
                }
            }
        }
    }
}
